<div class="player-wrapper" ng-class="{'player-not-ready': playerReady < 2}">
	<div class="player-col-1">
		<div class="artwork"></div>
		<div class="player-controls-wrapper">
			<div class="progress-bar-wrapper">
				<div class="time-elapsed">{{formatTime(audio.currentTime) || '0:00'}}</div>
				<div class="progress-bar">
					<div class="progress-bar-inner"></div>
					<div class="progress-bar-dot"></div>
				</div>
				<div class="time-remaining">{{formatTime(audio.duration, audio.currentTime) || '0:00'}}</div>
			</div>

			<div class="player-controls">
				<!-- <div class="fa fa-repeat repeat-button"></div> -->
				<div class="fa fa-step-backward backwards-button" ng-click="prevTrack()"></div>
				<div class="fa fa-play play-button" ng-class="{'fa-pause': !!audio && !audio.paused, 'fa-play': !audio || audio.paused }" ng-click="play()"></div>
				<div class="fa fa-step-forward forwards-button" ng-click="nextTrack()"></div>
				<!-- <div class="shuffle">aaa</div> -->
			</div>

			<div class="track-details-wrapper">
				<div class="track-details-title" title="{{track.title}}" ng-bind-html="trust(track.title)"></div>
				<div class="track-details-artist">{{podcast.title}}</div>
			</div>
		</div>
	</div>

	<div class="player-col-2">
		<input class="track-filter" type="text" ng-model="$root.filter">
		<div class="track-row-wrapper" ng-click="$parent.track = track" ng-repeat="track in tracks | filter:$root.filter" ng-class="{'active-track': $parent.track == track}">
			<div class="fa fa-play track-row-media-button"></div>
			<div class="track-row-title" ng-bind-html="trust(track.title)"></div>
			<div class="track-row-date">{{date(track.date).format('{Dow}, {dd}/{Mon}/{yy}')}}</div>
			<div class="fa fa-arrow-circle-down track-row-download-button" ng-class="{'fa-refresh': downloading[track.mp3], 'fa-arrow-circle-down': !downloading[track.mp3]}" ng-click="download(track); $event.preventDefault(); $event.stopPropagation()" ng-hide="checkDownloaded(track)">{{checkDownloaded(track)}}</div>
		</div>
	</div>
</div>
<audio hidden preload="metadata"></audio>