html,
body{
	background: #e1e1e1;
	color: #1e1e1e;
	font-size: 14px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: content-box;
}

.heatmap {
	height: 500px;
	width: 500px;
	border: 1px solid #000;
	display:block;
	margin:auto;
}


.heatmap-canvas {width: -webkit-fill-available;}

.left-content, .right-content {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    padding: 10px;
}

.right-content {
    padding: 10px 0;
    display: block;
    width: 100%;
}

[disabled] {
    opacity: 0.6;
}

div#heatmap {
    height: 740px;
}

progress {
    width: 320px;
    height: 20px;
}

.progress-text {
    font-size: 30px;
    text-align: center;
}